.mrk{
    border: 2px dashed red;
}
.backdrop{
    height: 650px; 
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.8);
    background-image: url("../../../app/assets/images/background.jpg");
}
.custom-btn{
    margin: 0 10px 20px 10px;
    width: 30%;
    min-width: 350px;
    padding: 15px;
    border: 3px solid orange;
    color: orange;
    font-weight: 600;
    background-color: transparent;
    font-size: 26px;
    font-family: 'Cairo', 'sans-serif';
}
.custom-btn-two{
    margin: 0 10px 20px 10px;
    width: 30%;
    min-width: 350px;
    padding: 15px;
    border: 3px solid lightgrey;
    color: lightgrey;
    font-weight: 600;
    background-color: transparent;
    font-size: 26px;
    font-family: 'Cairo', 'sans-serif';
}
.heading-1{
    color: orange;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Cairo', sans-serif;
}
.heading-2{
    color: orange;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Cairo', sans-serif;
}
.heading-3{
    color: orange;
    font-size: 64px;
    font-weight: 500;
    font-family: 'Cairo', sans-serif;
}
.paragraph{
    font-family: 'Cairo', sans-serif;
}
.main-paragraph{
    margin-top: 25px;
    font-size: 20px;
    color: white;
    font-family: 'Cairo', sans-serif;
}
.register-heading{
    color: orange;
    margin: 0 0 25px 0;
    font-size: 36px;
    font-family: 'Changa', sans-serif;
}
.login-modal-logo{
    width: 40%;
    margin: 15px 0 35px 0;
}
.login-form-group{
    margin: 10px auto 0 auto;
}
.login-form-undertext{
    margin: 15px 0 0 0;
}