.mrk{
    border: 2px dashed red;
}
.box-heading{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Cairo', sans-serif;
}
.item{
    background-color: rgb(250, 250, 250);
}
.item:hover{
	background-color: aliceblue;
}
.total-cost{
    font-family: 'Changa', sans-serif;
}